#root {
  margin:0;
}

h4 {
  font-size: 24px;
}
.project-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
  gap: 15px;
}

.project-item {
  background-color: #77c5854a;
  padding: 10px;
  width: 40vw;
  border-radius: 10px;
}

h5 {
  font-size: 18px;
  margin-left: 10px;
}

.project-info {
  display:flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.project-img {
  width: 80%; 
  height: auto; 
  max-width: 700px;
  border-radius: 10px;
}

.info-text {
  width:90%;
}